
.hero{
    position: absolute;
    width: 442px;
    height: 56px;
    left: 85px;
    top: 226px;
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
  
    color: #FFC89A;
  
    text-shadow: 0px 4px 25px #000000;
  }
  .subhero{
  
    position: absolute;
    width: 517px;
    height: 78px;
    left: 85px;
    top: 284px;
    
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 15px #000000;
  }

  .learnmore{
  
    position: absolute;
    width: 159px;
    height: 38.78px;
    left: 85px;
    top: 509px;

    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
    border: none;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
      
    color: #161616;
    background: #CECECE;
    filter: drop-shadow(0px 4px 25px #000000);
    
    
  } 
  .learnmore:hover{
    
    position: absolute;
    width: 159px;
    height: 38.78px;
    left: 85px;
    top: 509px;

    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    border: 1.5px solid;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
      
    color: #ffffff;
    border-color: #3b3b3b;
    background: #000000;
    
    
    filter: drop-shadow(0px 3px 10px #44444427);

    

}
  .down_arrow{
      
    position: absolute;
    width: 40px;
    height: 40px;
    left: 700px;
    top: 653px;
  
  }
.truck{

  position: absolute;
  width: 760.47px;
  height: 500px;
  left: 605.61px;
  top: 150px;
  
}