*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 10vh 10vw;

}
li{
    list-style-type: none;
}
li{
    display: inline;
}
.wrapper{
    justify-content: space-around;
    align-items: center;
    width: 1100px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
}