*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 20vh 10vw 20vh 10vw;
    padding: 10px;
}
li{
    list-style-type: none;
}
.services{
    list-style-type: disc;
    color: rgb(189, 189, 189);
    font-family: roboto;
    font-size: 20px;
}